<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="//d3js.org/d3.v4.min.js"></script>
    <script src="//d3js.org/queue.v1.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.0/d3-tip.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="static/worldmap.css" />
    <link rel="stylesheet" href="static/pcp.css" />
    <link rel="stylesheet" href="static/lineChart.css" />
    <link rel="stylesheet" href="static/dashboard.css" />
    <!-- <link rel="stylesheet" href="static/css/pcp.css" /> -->

    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
        integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin>

    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
        integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
        crossorigin></script>

    <script type="text/javascript" src="static/global_vars.js"></script>
    <!-- <script src="static/lib/d3.layout.cloud.js"></script> -->

    <!-- Load color scale -->
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.24.0/d3-legend.js"></script>

</head>

<body>
    <div class="navbar-nav navbar-inverse navbar-fixed-top">
        <div class="container">
            <div id="dashboardHeader">
                <h4>Parameters affecting Agricultural industry of a country</h4>
            </div>
        </div>
    </div>

    <button id="resetAll" class="button" onClick="console.log('HI')">Reset</button>
    <div id="dashboard" class="container-fluid">
        <div class="row">
            <div class="col-sm-6" style="padding-right: 5px;">
                <div class="dash-unit">
                    <dtitle id="worldTitle">Average Crop Production Index of the world</dtitle>
                    <hr>
                    <div class='row'>
                    </div>
                    <div class="row" title="Choropleth">
                        <div id="worldmap-legend-svg" class="col-sm-1"></div>
                        <div id="worldmap" class="col-sm-11"></div>
                    </div>

                </div>
            </div>


            <div class="col-sm-6" style="padding-left: 5px;">
                <div class="dash-unit" title="Time-Series line plot">
                    <div >
                        <dtitle id="worldTitle">Agricultural/Growth parameters of <span id="selectedCountryName">UNITED STATES OF AMERICA</span></dtitle>
                        <hr class="dash_unit_title_sep">

                        <div class='row'>
                            <div id="linechart"></div>

                            <div class="panels_column">

                                <div class="checkbox_panel">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary active" id="cropProdIdxlabel"
                                            onclick="clickedLabel(this);">
                                            <input type="checkbox" name="cropProdIdx" id="cropProdIdx"
                                                value="CropProdIdx" checked onchange="resetLineChart()">Crop Production
                                            Index<br>
                                        </label>
                                    </div>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary" id="foodProdIdxLabel"
                                            onclick="clickedLabel(this);">
                                            <input type="checkbox" name="foodProdIdx" id="foodProdIdx"
                                                value="FoodProdIdx" onchange="resetLineChart()">Food production
                                            index<br>
                                        </label>
                                    </div>
                                </div>

                                <div class="checkbox_panel">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary" id="arableLandLabel"
                                            onclick="clickedLabel(this);">
                                            <input type="checkbox" name="arableLand" id="arableLand" value="arableLand"
                                                onchange="resetLineChart()">Arable Land (%)<br>
                                        </label>
                                    </div>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary" id="agriculturalLandLabel"
                                            onclick="clickedLabel(this);">
                                            <input type="checkbox" name="agriculturalLand" id="agriculturalLand"
                                                value="AgriculturalLand" onchange="resetLineChart()">Agricultural Land
                                            (%)<br>
                                        </label>
                                    </div>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary" id="accessToElectricityLabel"
                                            onclick="clickedLabel(this);">
                                            <input type="checkbox" name="accessToElectricity" id="accessToElectricity"
                                                value="AccessToElectricity" onchange="resetLineChart()">Access to
                                            Electricity (% rural areas)<br>
                                        </label>
                                    </div>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary" id="agriMachineryLabel"
                                            onclick="clickedLabel(this);">
                                            <input type="checkbox" name="agriMachinery" id="agriMachinery"
                                                value="AgriMachinery" onchange="resetLineChart()">Agricultural
                                            Machinery<br>
                                        </label>
                                    </div>

                                </div>


                                <div class="checkbox_panel">

                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary" id="gdpLabel" onclick="clickedLabel(this);">
                                            <input type="checkbox" name="gdp" id="gdp" value="Gdp"
                                                onchange="resetLineChart()">GDP per capita (current US$)<br>
                                        </label>
                                    </div>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary" id="agriImportsLabel"
                                            onclick="clickedLabel(this);">
                                            <input type="checkbox" name="agriImports" id="agriImports"
                                                value="AgriImports" onchange="resetLineChart()">Agricultural Raw
                                            Material
                                            Imports<br>
                                        </label>
                                    </div>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary" id="agriExportsLabel"
                                            onclick="clickedLabel(this);">
                                            <input type="checkbox" name="agriExports" id="agriExports"
                                                value="AgriExports" onchange="resetLineChart()">Agricultural Raw
                                            Material
                                            Exports<br>
                                        </label>
                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>




        <!-- SECOND ROW OF PLOTS -->
        <div class="row">
            <div class="col-sm-5" style="padding-right: 5px;">
                <div class="dash-unit">
                    <dtitle id="worldTitle">Parallel Coordinate Plot</dtitle>
                    <hr class="dash_unit_title_sep">

                    <div align="center">
                        <div id="pcplot"></div>
                    </div>

                </div>
            </div>


            <div id="MDScorr-PCP" class="col-sm-3">
                <div class="dash-unit" style="height: 98.5%">
                    <dtitle id="worldTitle">Attribute MDS Plot using correlation</dtitle>
                    <hr class="dash_unit_title_sep">
                    <div id="mdsCORRplot"></div>
                </div>
            </div>

            <div id="Bar-Chart" class="col-sm-4">
                <div class="dash-unit">
                    <dtitle id="worldTitle">Top Countries With highest</dtitle>
                    <hr class="dash_unit_title_sep">
                    <svg id="bar"></svg>
                </div>
            </div>

        </div>


    </div>

    <script type="text/javascript" src="static/dashboard.js"></script>
    <script type="text/javascript" src="static/worldMap.js"></script>
    <script type="text/javascript" src="static/choropleth.js"></script>
    <script type="text/javascript" src="static/lineChart.js"></script>
    <script type="text/javascript" src="static/plot_pcp.js"></script>
    <script type="text/javascript" src="static/mds_corr.js"></script>
    <script type="text/javascript" src="static/barChart.js"></script>

    <!-- <script type="text/javascript" src="static/js/lineChart.js"></script> -->
    <!-- <script type="text/javascript" src="static/js/wordCloud.js"></script> -->
    <!-- <script type="text/javascript" src="static/js/pcpPlot.js"></script> -->
    <!-- <script type="text/javascript" src="static/js/stats.js"></script> -->

</body>

</html>